* {
  margin: 0;
  box-sizing: border-box;
}

#formcontainer {
  display: block;
  margin: auto;
  width: clamp(290px, 50vw, 400px);
}

form {
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.26);
}

label {
  font-weight: 700;
}

.imagecontainer {
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  margin: 0 auto;
  padding: 10px;
  border-radius: 2px;
}

.page-links {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 100%;
}

button {
  cursor: pointer;
}
