nav {
  /* background: url(../images/housebw.png) center no-repeat; */
  /* background: url(../images/framebw.png) center no-repeat; */
  /* background: url(../images/editbwclip.png) center no-repeat; */
  background-size: 100vw;
  /* background-color: rgba(0, 0, 0, 0.7); */
  height: 10vh;
  font-size: 1.5em;
  animation: zoom 300s infinite linear;
}

@keyframes zoom {
  from {
    background-size: 100vw;
  }
  50% {
    background-size: 150vw;
  }
  to {
    background-size: 100vw;
  }
}

ul {
  display: flex;
  align-items: center;
  list-style: none;
}

li {
  text-transform: uppercase;
  text-shadow: 0px 0px 4px #000, 0px 0px 4px #000;
}

li:last-child {
  margin-left: auto;
}

a {
  margin: 4vh;
  text-decoration: none;
  color: #eee;
}

a:last-child {
  margin-left: auto;
}

a:hover {
  color: #bbb;
}
