nav {
  /* background: url(../images/housebw.png) center no-repeat; */
  /* background: url(../images/framebw.png) center no-repeat; */
  /* background: url(../images/editbwclip.png) center no-repeat; */
  /* background-size: 100vw;
  background-position: center;
  animation: zoom 200s infinite linear; */
  background: url(/images/react_logo_small.png) center no-repeat;
  background-color: var(--background);
  height: 10vh;
  font-size: 1.5em;
  /* animation: zoom 40s linear infinite; */
}
@keyframes zoom {
  from {
    background-size: 7vw;
  }
  50% {
    background-size: 10vw;
  }
  to {
    background-size: 7vw;
  }
}


ul {
  display: flex;
  align-items: center;
  list-style: none;
}

a {
  margin: 4vh;
  text-decoration: none;
  color: var(--lightblue);
}

a:last-child {
  margin-left: auto;
}

.active {
  color: var(--lightblue);
}

.active li img {
  width: 2em;
  animation: logo_spin 8s linear infinite;
}

a:hover {
  color: var(--lightblue);
}

li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-shadow: 1px 1px var(--background), 1px -1px var(--background), -1px 1px var(--background), -1px -1px var(--background);
  z-index: 999;
}

.navimg {
  display: inline-flex;
  position: absolute;
  width: 0px;
  height: 100%;
  object-fit: contain;
  z-index: -1;
}

li:hover .navimg {
  transition: width 1.2s linear;
  width: 2em;
  animation: logo_spin 8s linear infinite;
}
@keyframes logo_spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

li:last-child {
  margin-left: auto;
}
