nav {
  /* background: url(../images/housebw.png) center no-repeat; */
  /* background: url(../images/framebw.png) center no-repeat; */
  /* background: url(../images/editbwclip.png) center no-repeat; */
  /* background-size: 100vw;
  background-position: center;
  animation: zoom 200s infinite linear; */
  background: url(/images/react_logo_small.png) center no-repeat;
  background-color: var(--background);
  height: 10vh;
  font-size: 1.5em;
}

@keyframes zoom {
  from {
    background-size: 100vw;
  }
  50% {
    background-size: 150vw;
  }
  to {
    background-size: 100vw;
  }
}

ul {
  display: flex;
  align-items: center;
  list-style: none;
}

li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-shadow: 0px 0px 4px #000;
  z-index: 999;
  color: red !important;
}

/* li span {
  position: absolute;

  width: 10%;
  height: 10%;
  top: 0;
  left: 0;
  border: 1px solid black;
  transition: transform 0.4s linear;
} */

.navimg {
  display: inline-flex;
  position: absolute;
  width: 0px;
  height: 100%;
  object-fit: contain;
  z-index: -1;
}

li:hover .navimg {
  transition: all 5s linear;
  width: 100%;
  animation: r 8s linear infinite;
}
@keyframes r {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* li::before {
  content: url(/images/react_logo_small.png);
  display: inline-block;
  position: absolute;

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 1px solid black;
  transition: transform 0.4s linear;
} */

li:last-child {
  margin-left: auto;
}

a {
  margin: 4vh;
  text-decoration: none;
  color: var(--lightblue);
}

a:last-child {
  margin-left: auto;
}

.active {
  color: var(--lightblue);
}

a:hover {
  color: rgba(207, 195, 248, 0.7);
}
