#h1_search_img {
  position: relative;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 500;
}

#h1_search_img::before {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: rgba(40, 44, 52, 1);
  width: 12em;
  height: 100%;
  top: 0;
  left: 50%;
  border: 2px solid #000;
  border-radius: 50%;
  transform: translate(-50%, 0%);
  z-index: -2;
}

#form_search_img {
  flex-direction: row;
  gap: 0.5em;
  width: 30vw;
  margin: auto;
}

#form_search_img input {
  width: 20vw !important;
}

.search_img {
  color: var(--background);
}

#linkcontainer {
  display: flex;
  justify-content: center;
}

.pagelinks {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 200%;
  color: var(--background);
  background-color: rgba(97, 218, 251, 0.7);
  cursor: pointer;
  transition: background 0.3s linear;
}

.pagelinks:hover {
  color: #eee;
  background-color: var(--background);
}

.add_img {
  position: relative;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

.add_img::before {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: rgba(97, 218, 251, 0.2);
  width: 60%;
  height: 70%;
  top: 0;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, 25%);
  z-index: -2;
  transition: background 200ms ease-in;
}

.add_img:hover::before {
  background-color: rgba(97, 218, 251, 0.4);
}

#gallery_link {
  position: relative;
  width: max-content;
  margin: 2em auto;
  color: var(--background);
  text-align: center;
  font-style: italic;
  text-shadow: 0.7px 0.7px rgba(97, 218, 251, 0.35),
    0.7px -0.7px rgba(97, 218, 251, 0.35), -0.7px 0.7px rgba(97, 218, 251, 0.35),
    -0.7px -0.7px rgba(97, 218, 251, 0.35);
}

#gallery_link::before {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: rgba(97, 218, 251, 0.7);
  width: clamp(50px, 4.5vw, 75px);
  height: clamp(50px, 4.5vw, 75px);
  top: 0;
  right: -35px;
  border-radius: 50%;
  transform: translate(0%, -35%);
  z-index: -1;
}
