.home_main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(/images/react_logo_small.png) center no-repeat;
  background-size: 1100vw;

  z-index: -1;
  animation: intro_background 5s linear forwards;
}
@keyframes intro_background {
  from {
    background-size: 1100vw;
  }
  to {
    background-size: 46vw;
  }
}

.main_half {
  position: relative;
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(40, 44, 52, 0.6);
}

#main_half_left {
  transform: translateX(-75%);
  animation: main_half_left 1.4s linear forwards;
  z-index: 2;
}

#main_half_right {
  transform: translateX(75%);
  animation: main_half_right 1.4s linear forwards;
}

@keyframes main_half_left {
  from {
    transform: translateX(-75%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes main_half_right {
  from {
    transform: translateX(75%);
  }
  to {
    transform: translateX(0%);
  }
}

#skip_login_left {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateX(50%) translateY(-50%);
  transform-origin: top;
  width: 9vw;
  height: 9vw;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  justify-content: center;
  align-items: center;
  color: var(--lightblue);
  background-color: #448398;
  border: 2px solid var(--lightblue);
  border-radius: 50%;
  text-align: center;
  font-size: 1vw;
  padding: 5px;
  z-index: 999;
  overflow: visible;
  transition: all 0.3s linear;
  animation: skip_login_left 1.4s linear forwards;
}

@keyframes skip_login_left {
  from {
    transform: rotateX(0deg) translateX(50%) translateY(-50%);
  }
  to {
    transform: rotateX(720deg) translateX(50%) translateY(-50%);
  }
}

#skip_login_left:hover {
  color: var(--background);
  background-color: var(--lightblue);
  border-color: var(--background);
}

#pulse_button {
  position: relative;
  display: grid;
  place-items: center;
  width: 2.7vw;
  height: 2.7vw;
  background-color: var(--lightblue);
  border-radius: 50%;
  z-index: 4;
}
#pulse_button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--lightblue);
  border: 0.4vw solid var(--background);
  border-radius: 50%;
  z-index: 5;
}
#pulse_button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  border-radius: 50%;
  z-index: 2;
  transform: scale(1);
  transform-origin: center;
  animation: pulse 1.5s ease-in-out infinite;
}
@keyframes pulse {
  from {
    transform: scale(0.95);
    opacity: 1;
  }
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}

#inner_pulse_button {
  width: 1.4vw;
  height: 1.4vw;
  background-color: var(--lightblue);
  border: 0.4vw solid var(--background);
  border-radius: 50%;
  z-index: 7;
}

#skip_login_right {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateX(-50%) translateY(-50%);
  width: 9vw;
  height: 9vw;
  background-color: var(--lightblue);
  border-radius: 50%;
}

.formcontainer {
  display: block;
  margin: auto;
  width: clamp(200px, 35vw, 600px);
}

form {
  display: flex;
  flex-direction: column;
  font-family: Montserrat;
  background-color: rgba(40, 44, 52, 0.6);
  padding: 1.5em;
  border-radius: 5px;
  border: 1px solid rgba(97, 218, 251, 0.9);
  /* box-shadow: 0px 0px 20px 2px rgba(27, 11, 87, 0.7); */
}

#login_form {
  transform: rotateY(-90deg);
  animation: login_form 2s linear forwards;
}

@keyframes login_form {
  from {
    transform: rotateX(-90deg);
  }
  70% {
    transform: rotateX(-90deg);
  }
  to {
    transform: rotateX(0deg);
  }
}

#create_user_form {
  transform: rotateY(-90deg);
  animation: create_user_form 2.6s linear forwards;
}

@keyframes create_user_form {
  from {
    transform: rotateX(-90deg);
  }
  75% {
    transform: rotateX(-90deg);
  }
  to {
    transform: rotateX(0deg);
  }
}

label {
  font-weight: 500;
  margin: 0.35em 0 0.15em 0;
}

input {
  color: var(--lightblue);
  background-color: var(--background);
  font-size: 1em;
}

input:focus {
  color: #000;
  background-color: var(--lightblue);
}

button {
  background-color: var(--lightblue);
}

.errormsg {
  color: red;
}

/* Change Autocomplete styles in Chrome*/
/* input:-webkit-autofill,
input:-webkit-autofill:hover, 

textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,

select:-webkit-autofill,
select:-webkit-autofill:hover
 {
  -webkit-text-fill-color: var(--lightblue);
  -webkit-text-background-color: var(--background);
  background-color: var(--background);
}
input:-webkit-autofill:focus,
textarea:-webkit-autofill:focus,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--background);
  background-color: var(--background);
}
input:-internal-autofill-selected {
  color: -internal-light-dark(#282c34, #61dafb) !important;
  background-color: var(--background) !important;
} */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid var(--lightblue);
  -webkit-text-fill-color: var(--lightblue);
  -webkit-box-shadow: 0 0 0px 1000px var(--background) inset;
  transition: background-color 5000s ease-in-out 0s;
}
@media only screen and (max-width: 800px) {
  .home_main {
    flex-direction: column;
  }
  .main_half {
    flex-direction: column;
  }
  #skip_login_left {
    position: relative;
    right: auto;
    transform: translate(0%);
  }
  #skip_login_right {
    display: none;
  }
}
