* {
  margin: 0;
  box-sizing: border-box;
}

#app {
  color: #2c3e50;
}

main {
  text-align: center;
}

.formcontainer {
  display: block;
  margin: auto;
  border-radius: 5px;
  border: 1px solid rgba(207, 195, 248, 0.9);
  width: clamp(200px, 80vw, 400px);
}

form {
  display: flex;
  flex-direction: column;
  padding: 1.5em;

  /* box-shadow: 0px 0px 20px 2px rgba(27, 11, 87, 0.7); */
}

label {
  font-weight: 700;
  text-align: left;
}

input:focus {
  background-color: rgba(207, 195, 248, 0.2);
}

.imagecontainer {
  background-color: rgba(27, 11, 87, 0.1);
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  margin: 0 auto;
  padding: 10px;
  border: 3px solid rgba(27, 11, 87, 0.7);
  border-radius: 4px;
}

#lightbox {
  /* width: 100vw;
      height: 100vh; */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
}

#lbimgcontainer {
  display: flex;
  width: 80vw;
  height: 80vh;
}

.lbnav {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: 3em;
  text-align: center;
  line-height: 150%;
  background-color: #eee;
  cursor: pointer;
}

.lbimg {
  object-fit: contain;
}

#lbclose {
  position: relative;
  width: 50px;
  height: 50px;
  font-size: 24px;
  border-radius: 50%;
  text-align: center;
  line-height: 200%;
  background-color: #eee;
  cursor: pointer;
  /* transform: translate(-75px, -50px); */
}

#lbload {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  text-align: center;
  font-size: 36px;
  transform: translate(-100%, -50%);
}

.page-links {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 100%;
}

button {
  cursor: pointer;
  background-color: rgba(207, 195, 248, 0.5);
}
