* {
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

:root {
  /* --lightgreen: #3fb984;
  --darkblue: #31475e; */
  --lightgreen: rgb(63, 185, 132);
  --darkblue: rgb(49, 71, 94);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  display: inline-block;
}

#app {
  color: #2c3e50;
}

main {
  text-align: center;
}

.formcontainer {
  display: block;
  margin: auto;
  background: var(--darkblue);
  border-radius: 50%;
  border: 1px solid rgba(27, 11, 87, 0.9);
  outline: 100px solid rgba(63, 185, 132, 0.2);
  width: clamp(200px, 80vw, 400px);
}

form {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 1.5em;
  color: rgb(63, 185, 132, 0.7);
  /* box-shadow: 0px 0px 20px 2px rgba(27, 11, 87, 0.7); */
}

/* #login_form {
  transform: translateX(-60vw) rotateZ(-360deg);
  animation: login_roll 2.4s ease-in-out forwards;
} */

/* @keyframes login_roll {
  from {
    transform: translateX(-60vw) rotateZ(-360deg) scale(0.4);
    outline: none;
  }
  70% {
    transform: translateX(5vw) rotateZ(75deg) scale(1.4);
  }
  80% {
    transform: translateX(5vw) rotateZ(75deg) scale(1.4);
  }
  to {
    transform: translateX(0vw) rotateZ(0deg) scale(1);
    outline: 100px solid rgba(73, 226, 253,.2);
  }
} */

#login_form {
  /* transform: translateX(-700vw); */
  animation: login_speed 1.2s ease-out forwards;
}

@keyframes login_speed {
  from {
    transform: scale(0.8);
    outline: none;
  }
  70% {
    transform: scale(1.05);
  }
  80% {
    transform: scale(1.05);
  }
  to {
    transform: scale(1);
    outline: 100px solid rgba(63, 185, 132, 0.2);
  }
}

label {
  font-weight: 700;
  text-align: center;
}

input {
  background-color: rgb(250, 247, 255);
  border: none;
  border-radius: 250px;
  box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.7), inset -3px -3px 6px white;
  text-align: left;
  font-size: 0.8em;
  font-style: italic;
  line-height: 30px;
  padding-left: 1.4em;
}

input:focus {
  background-color: rgb(240, 235, 255);
  font-style: normal;
}

button {
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgba(207, 195, 248, 0.5);
  margin-top: 1em;
}

button:hover {
  background-color: rgba(112, 255, 68, 0.9);
}

.imagecontainer {
  background-color: rgba(27, 11, 87, 0.1);
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  width: 80vw;
  margin: 0 auto;
  padding: 10px;
  border: 3px solid rgba(27, 11, 87, 0.7);
  border-radius: 4px;
}

#lightbox {
  /* width: 100vw;
      height: 100vh; */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.9);
}

#lbimgcontainer {
  position: relative;
  display: flex;
  justify-content: center;
  width: 80vw;
  height: 80vh;
}

.lbnav {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: 3em;
  text-align: center;
  line-height: 150%;
  background-color: #eee;
  cursor: pointer;
}

.lbimg {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  height: 100%;
}

#lbclose {
  position: absolute;
  width: 50px;
  height: 50px;
  font-size: 24px;
  border-radius: 50%;
  text-align: center;
  line-height: 200%;
  background-color: #eee;
  cursor: pointer;
  top: 0;
  right: 0;
  /* transform: translate(-75px, -50px); */
}

#lbload {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  text-align: center;
  font-size: 36px;
  transform: translate(-100%, -50%);
}

.page-links {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 100%;
}
