.pagelinks{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 200%;
    background-color: #eee;
    cursor: pointer;
    transition: background 0.3s linear;
  }

  .pagelinks:hover{
    color: #eee;
    background-color: #222;
  }